{% extends "core/base.html" %}

{% load static %}

{% block title %}Iniciar Sesión{% endblock title %}

{% block content %}

<div class="login-page">
    <div class="login">
        <div class="login-header">
            <div class="login-header__logo">
                <img src="{% static 'images/logo.png' %}" alt="universe">
            </div>
            <h1>Bienvenido a <span>UNIVERSE</span></h1>
        </div>
        <form method="post" class="login-form">
            {% csrf_token %}
            <p class="login-form__header">Iniciar sesión</p>
            <label for="{{ form.username.html_name}}" class="login-form__label">Nombre de usuario</label>
            <input type="text" name="username" placeholder="Nombre de usuario" maxlength="150" class="login-form__input" id="{{ form.username.html_name}}" required>
            <label for="{{ form.password.html_name }}" class="login-form__label">Contraseña</label>
            <input type="password" name="password" placeholder="Contraseña" class="login-form__input" id="{{ form.password.html_name }}" required>
            <button type="submit" class="login-form__button">Ingresar</button>
            <p class="login-form__signup">O, si no tienes cuenta, <a href="{% url "signup" %}">regístrate</a></p>
        </form>
    </div>
    <div class="login__bg-image">
        <img src="{% static 'images/bg_login.jpg' %}" alt="">
    </div>

</div>

{% endblock content %}