$black: #1E1D26;
$white: #FFFFFF;
$page: #e6e6e6;
$primary-color: #13183B;
$secondary-color: #eceeff;
$info-color: #1480da;
$danger-color: #b71515;

/* Breakpoints */
$xxs: 400px;
$xs: 560px;
$sm: 720px;
$md: 960px;
$lg: 1200px;
