@forward './pages/login';
@forward './pages/signup';
@forward './pages/activate';
@forward './pages/load_users';
@forward './pages/home';
@forward './pages/chat';
@forward './pages/publication';
@forward './pages/profile';
@forward './pages/profile_update';
@forward './pages/profile_list';
@forward './pages/search';
@forward './pages/publication_list';
@forward './pages/navbar';
@forward './pages/header';
@use 'variables' as v;
@use 'responsive' as r;


* {
    box-sizing: border-box;
    font-family: 'Open Sans', serif;
}

body {
    min-height: 100vh;
    background-color: v.$page;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

a {
    color: v.$black;
}

#id_logo {
    width: 6rem;
    img {
        width: 100%;
    }
}

.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(v.$black, 0.8);
    backdrop-filter: blur(4px);

    img {
        max-width: 80vw;
        width: fit-content;
        max-height: 80vh;
        height: fit-content;
        border-radius: 4px;
        object-fit: contain;
    }
}

img {
    width: 100%;
}

.messages {
    position: fixed;
    top: 1.25rem;
    left: 1rem;
    right: 1rem;
    max-width: 600px;
    margin: auto;
    .message__bg {
        background-color: v.$white;
        border-radius: 4px;
    }
    .message {
        padding: 0.75rem;
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        border-radius: 4px;
        img {
            width: 16px;
            height: 16px;
        }
    }
    .message__success {
        border: 1px solid rgba(v.$info-color, 0.5);
        background-color: rgba(v.$info-color, 0.1);
        color: v.$info-color-2;
    }
    .message__error {
        border: 1px solid rgba(v.$danger-color, 0.25);
        background-color: rgba(v.$danger-color, 0.1);
        color: v.$danger-color;
    }
    
}