@use '../variables' as v;
@use '../responsive' as r;


#id_chat_page {
    display: grid;
    grid-template-columns: 280px 280px 1fr;
    height: calc(100vh - 3.5rem);

    @include r.md {
        grid-template-columns: 260px 1fr;
    }
    @include r.xs {
        display: flex;
        flex-direction: column;
        #id_chats {
            min-height: 300px; 
            border-bottom: 1px solid rgba(v.$black, 0.5);
        }
    }   
}

#id_chats {
    background-color: v.$white;
    border-right: 1px solid rgba(v.$black, 0.2);
    overflow-y: overlay;
    min-height: calc(100vh - 3.5rem); 

    h1 {
        position: sticky;
        top: 0;
        font-size: 1rem;
        padding: 0.5rem;
        border-bottom: 1px solid rgba(v.$black, 0.5);
        background-color: v.$white;
    }

    .chat {
        text-decoration: none;
        cursor: pointer;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 2.75rem 1fr;
        gap: 0.75rem;
        background-color: v.$white;
        margin-bottom: 0.25rem;
        &:hover {
            background-color: rgba(v.$black, 0.05);
        }
    }
    .chat-content {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
    }
    .chat-image {
        max-width: 2.75rem;
        width: 100%;
        height: 2.75rem;
        border-radius: 1.25rem;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .chat-name {
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.75rem;
        font-weight: 600;
    }
    .last-message {
        font-size: 0.6875rem;
        min-height: 1rem;
        display: flex;
        gap: 0.25rem;
        justify-content: space-between;
        overflow: hidden;

        .last-message-content {
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }
        
        .last-message-date {
            font-weight: 600;
            color: rgba(v.$black, 0.5);
        }
    }

    &::-webkit-scrollbar {
        width: 0;
    }
}


#id_chat {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3.5rem);
    background-color: v.$white;
    #id_chat_info {
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 2.25rem 1fr;
        gap: 0.75rem;
        background-color: v.$white;
        border-bottom: 1px solid rgba(v.$black, 0.5);

        .chat-content {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: center;
        }
        .chat-image {
            max-width: 2.25rem;
            width: 100%;
            height: 2.25rem;
            border-radius: 1.25rem;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .chat-name {
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 0.75rem;
            font-weight: 600;
        }
    }

    #id_messages {
        padding: 0.5rem;
        overflow: overlay;
        flex: 1;
        display: flex;
        flex-direction: column-reverse;
        .message {
            background-color: rgba(v.$black, 0.1);
            width: fit-content;
            padding: 0.5rem;
            margin-bottom: 0.5rem;
            border-radius: 2px;
            max-width: 90%;
            .message-info {
                display: flex;
                justify-content: space-between;
                gap: 1rem;
                margin-bottom: 0.5rem;
                .message-sender {
                    font-size: 0.75rem;
                    font-weight: 600;
                }
                .message-date {
                    font-size: 0.75rem;
                    font-weight: 400;
                }
            }

            .message-content {
                font-size: 0.75rem;
                line-height: normal;

            }
        }
        .message-user {
            margin-left: auto;
            background-color: rgba(v.$info-color, 0.2);
        }
    }


    &:has(.no-chat) {
        display: flex;
        align-items: center;
        justify-content: center;   

        background-color: rgba(v.$white, 0.8);
        .no-chat {
            background-color: rgba(v.$black, 0.05);
            font-size: 0.75rem;
            font-weight: 600;
            padding: 0.5rem;
            border-radius: 4px;
            color: rgba(v.$black, 0.85);
        }
    }

}


#id_form_message {
    display: flex;
    border-top: 1px solid rgba(v.$black, 0.5);
    #id_message_content {
        resize: none;
        flex: 1;
        height: 4rem;
        border: none;
        font-size: 0.75rem;
        padding: 0.5rem;
        &:focus {
            outline: none;
        }
    }
    #id_message_submit {
        cursor: pointer;
        height: fit-content;
        margin: 0.5rem;
        margin-top: auto;
        background-color: v.$black;
        color: v.$white;
        font-size: 0.6875rem;
        font-weight: 600;
        border: none;
        border-radius: 2px;
        padding: 0.35rem 1rem;
        &:hover {
            background-color: rgba(v.$black, 0.85);
        }
    }
}