@use '../variables' as v;
@use '../responsive' as r;


#id_header {
    display: flex;
    align-items: center;
    background-color: v.$black;
    justify-content: space-between;
    border-bottom: 1px solid v.$black;
    padding: 0.25rem 1rem;

    #id_logo_header {
        width: 3rem;
        display: flex;   
        padding: 0.25rem; 
    }

    .btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        padding: 4px 8px;
        border-radius: 2px;
        border: 1px solid rgba(v.$white, 1);
        color: v.$white;
        gap: 0.25rem;
        &:hover {
            background-color: rgba(v.$white, 0.1);
        }
        img {
            width: 1.25rem;
        }
        p {
            font-size: 0.6875rem;
            font-weight: 600;
        }
    }
    img {
        width: 100%;
    }
    @include r.md {
        #id_btn_menu {
            display: flex !important;
        }
    }
    
}