@use '../variables' as v;
@use '../responsive' as r;


#id_home_page {
    display: grid;
    grid-template-columns: 280px 1fr;

    @include r.md {
        grid-template-columns: 1fr;
    }
}

#id_posts_section {
    width: 100%;
    background-color: v.$white;
    min-height: 800px;
}

#id_post_create {
    padding: 1rem;
    display: flex;
    gap: 8px;
    border-bottom: 1px solid rgba(v.$black, 0.25);
    background-color: rgba(v.$secondary-color, 0.5);
    #id_profile_pic {
        display: flex;
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 1.5rem;
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
        }
    }
    #id_form_post_create {
        flex: 1;
        background-color: v.$white;

        .inputs-post-create {
            border: 1px solid v.$black;
            border-radius: 4px;
            overflow: hidden;
            #id_content {
                resize: none;
                padding: 0.5rem;
                font-size: 0.75rem;
                border: none;
                border-bottom: 1px solid rgba(v.$black, 0.25);
                width: 100%;
                &:focus {
                    outline: none;
                }
            }
            #id_btn_add_image {
                width: 20px;
                height: 20px;
                display: flex;
            }
            #id_add_image {
                font-size: 0.6875rem;
                font-weight: 600;
                width: 142px;

                &::file-selector-button {
                    display: none;
                }
            }
            .footer-inputs-post-create {
                display: flex;
                padding: 4px;
                align-items: center;
                gap: 8px;
                label {
                    font-size: 0.6875rem;
                    font-weight: 600;
                }
                #id_select_category  {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
                    padding-left: 0.25rem;
                    #id_category {
                        width: 100%;
                        appearance: none;
                        border: none;
                        font-size: 0.75rem;
                        &:focus {
                            outline: none;
                        }
                    }
                }
                #id_input_image {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                }
                .btn {
                    cursor: pointer;
                    background-color: v.$black;
                    border-radius: 4px;
                    border: none;
                    padding: 0.5rem;
                    font-size: 0.6875rem;
                    color: v.$white;
                    font-weight: 600;
                    &:hover {
                        background-color: rgba(v.$black, 0.9);
                    }
                }
                @include r.xs {
                    flex-direction: column;
                    align-items: normal;
                    
                    #id_input_image {
                        flex-direction: row-reverse;
                        justify-content: start;
                        gap: 0.5rem;
                    }
                }
            }
        }
    }
}

