@use '../variables' as v;
@use '../responsive' as r;


.load-users-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .load-users {
        background-color: v.$white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        .load-users-header {
            border-bottom: 1px solid rgba(v.$black, 0.25);
            width: 100%;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 1.5rem;
            h1 {
                font-size: 1rem;
                font-weight: 400;
                span {
                    
                    font-weight: 700;
                }
            }
        }
        .load-users-form {
            display: flex;
            flex-direction: column;
            width: 100%;
            .load-users-form__label {
                font-size: 0.75rem;
                font-weight: 600;
                margin-bottom: 0.25rem;
            }
            .load-users-form__input {
                border: 1px solid rgba(v.$black, 0.25);
                border-radius: 2px;
                padding: 0.75rem;
                margin-bottom: 0.75rem;
                font-size: 0.8125rem;
            }
            .login-form__header {
                font-size: 0.875rem;
                margin-bottom: 1rem;
                font-weight: 700;
            }
            .login-form__button {
                cursor: pointer;
                background-color: v.$black;
                color: v.$white;
                padding: 0.75rem;
                border: none;
                border-radius: 2px;
                margin-top: 0.75rem;
                font-size: 0.75rem;
                font-weight: 600;
                margin-bottom: 1rem;
                &:hover {
                    background-color: rgba(v.$black, 0.9);
                }
            }
            .login-form__signup {
                font-size: 0.875rem;
                a {
                    font-weight: 700;
                }
            }
        }
    }
    .load-users__bg-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        display: flex;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
