@use '../variables' as v;
@use '../responsive' as r;


.login-page {
    display: grid;
    grid-template-columns: minmax(0, 400px) 1fr;
    min-height: 100vh;

    .login {
        background-color: v.$white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        .login-header {
            border-bottom: 1px solid rgba(v.$black, 0.25);
            width: 100%;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 1.5rem;
            h1 {
                font-size: 1rem;
                font-weight: 400;
                span {
                    
                    font-weight: 700;
                }
            }
        }
        .login-header__logo {
            width: 3rem;
        }
        .login-form {
            width: 100%;
            align-items: end;
            .login-form__field {
                display: flex;
                align-items: stretch;
                margin-bottom: 0.75rem;
                border: 1px solid rgba(v.$black, 0.25);
                border-radius: 4px;
                overflow: hidden;
                .login-form__icon {
                    display: flex;
                    padding: 0.6875rem;
                    background-color: rgba(v.$black, 0.07);
                    border-right: 1px solid rgba(v.$black, 0.25);
                    img {
                        height: 16px;
                        width: 16px;
                    }
                }
                .login-form__input {
                    border: none;
                    padding: 0 0.5rem;
                    font-size: 0.8125rem;
                    width: 100%;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .login-form__header {
                font-size: 0.875rem;
                margin-bottom: 1rem;
                font-weight: 700;
            }
            .login-form__button {
                cursor: pointer;
                width: 100%;
                padding: 0.625rem;
                font-size: 0.75rem;
                color: v.$white;
                border-radius: 2px;
                border: 1px solid v.$black;
                background-color: v.$black;
                font-weight: 500;
                margin-bottom: 0.75rem;
                transition: all 0.1s;
                &:hover {
                    background-color: rgba(v.$black, 0.95);
                }
            }
            .login-form__activate {
                font-size: 0.75rem;
                font-weight: 500;
                margin-top: 1rem;
                a {
                    font-weight: 700;
                }
            }
            .login-form__text-error {
                color: v.$danger-color;
                font-size: 0.6875rem;
                font-weight: 700;
                padding: 0.25rem;
                border-radius: 2px;
                margin-bottom: 0.25rem;
            }
            &:has(.login-form__text-error) {
                .login-form__field {
                    border: 1px solid v.$danger-color;
                }
            }
        }
    }
    .login__bg-image {
        display: flex;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}