@use '../variables' as v;
@use '../responsive' as r;


.profile-page {
    display: grid;
    grid-template-columns: 240px 1fr 240px;

    background-color: v.$secondary-color;

    @include r.md {
        grid-template-columns: 240px 1fr;
    }
    @include r.sm {
        grid-template-columns: 1fr;
    }
}

.profile-section {
    background-color: v.$white;
    min-height: 100vh;
    .profile {
        $size_profile_pic: 120px;
        
        padding: 2rem;
        display: grid;
        grid-template-columns: $size_profile_pic 1fr;
        align-items: center;
        gap: 1rem;
        border-bottom: 1px solid rgba(v.$black, 0.25);

        @include r.sm {
            grid-template-columns: 1fr;
            padding: 1rem;
            gap: 2rem;
            .profile__profile-pic {
                width: fit-content;
                margin: auto;
            }
        }
        
        .profile__profile-pic {
            img {
                width: $size_profile_pic;
                height: $size_profile_pic;
                object-fit: cover;
                border-radius: calc($size_profile_pic / 2);
            }
        }

        .profile__content {

            .profile__name {
                font-size: 1.25rem;
                font-weight: 700;
                margin-bottom: 4px;
            }
            .profile__username {
                font-size: 0.75rem;
                font-weight: 700;
                margin-bottom: 8px;
                color: rgba(v.$black, 0.75);
            }
            .profile__description {
                font-size: 0.75rem;
                font-weight: 600;
                margin-bottom: 8px;
            }
            .profile__options {
                display: flex;
                gap: 0.25rem;
            }
            .profile__button {
                font-size: 0.6875rem;
                padding: 5px 20px;
                border-radius: 2px;
                width: fit-content;
                font-weight: 600;
                border: none;
                margin-bottom: 8px;
                cursor: pointer;
                transition: all 0.2s;
            }
            .profile__button-update, .profile__button-follow {
                background-color: rgba(v.$info-color, 1);
                color: v.$white;
                border: 1px solid transparent;
                &:hover {
                    background-color: v.$white; 
                    border: 1px solid v.$info-color;
                    color: v.$info-color;
                }
            }
            .profile__button-unfollow {
                background-color: rgba(v.$danger-color, 1);
                color: v.$white;
                border: 1px solid transparent;
                &:hover {
                    background-color: v.$white; 
                    border: 1px solid v.$danger-color;
                    color: v.$danger-color;
                }
            }
            .profile__button-message {
                border: 1px solid v.$black;
                background-color: v.$black;
                color: v.$white;
                text-decoration: none;
                &:hover {
                    background-color: v.$white;
                    color: v.$black;
                }
            }

            .profile__info {
                display: grid;
                grid-template-columns: repeat(3 , minmax(0, 1fr));
                align-items: center;
                gap: 0.75rem;
                font-size: 0.75rem;
                .profile__info-item {
                    .profile__info-header {
                        font-weight: 700;
                        margin-bottom: 0.25rem;
                    }
                }
            }
        }
    }
}
