@use '../variables' as v;
@use '../responsive' as r;


#id_profile_page {
    display: grid;
    grid-template-columns: 280px 1fr;

    @include r.md {
        grid-template-columns: 1fr;
    }
}

#id_profile_section {
    min-height: 100vh;
    width: 100%;
    background-color: v.$white;

    #id_profile {
        padding: 2rem;
        display: grid;
        grid-template-columns: 120px 1fr;
        align-items: center;
        gap: 1rem;
        border-bottom: 1px solid rgba(v.$black, 0.25);
        .profile-pic {
            display: flex;
            width: 120px;
            height: 120px;
            border-radius: 60px;
            overflow: hidden;
            img {
                object-fit: cover;
                width: 100%;
            }
        }
        .profile-content {

            .profile-name {
                font-size: 1.25rem;
                font-weight: 700;
                margin-bottom: 4px;
            }
            .profile-username {
                font-size: 0.75rem;
                font-weight: 700;
                margin-bottom: 8px;
                color: rgba(v.$black, 0.75);
            }
            .profile-description {
                font-size: 0.75rem;
                font-weight: 600;
                margin-bottom: 8px;
            }
            .btn {
                font-size: 0.6875rem;
                padding: 5px 20px;
                border-radius: 4px;
                width: fit-content;
                font-weight: 600;
                border: none;
                margin-bottom: 8px;
                cursor: pointer;
                transition: all 0.2s;
            }
            .profile-follow, .profile-update {
                background-color: rgba(v.$info-color, 1);
                color: v.$white;
                border: 1px solid transparent;
                &:hover {
                    background-color: v.$white; 
                    border: 1px solid v.$info-color;
                    color: v.$info-color;
                }
            }
            .profile-unfollow {
                background-color: rgba(v.$danger-color, 1);
                color: v.$white;
                border: 1px solid transparent;
                &:hover {
                    background-color: v.$white; 
                    border: 1px solid v.$danger-color;
                    color: v.$danger-color;
                }
            }
            .profile-info {
                display: grid;
                grid-template-columns: repeat(3 ,1fr);
                align-items: center;
                gap: 0.75rem;
                font-size: 0.75rem;
                @include r.xs {
                    p {
                        b {
                            display: block;
                        }
                    }
                }
            }
        }
        @include r.xs {
            padding: 2rem 1rem;
            display: flex;
            flex-direction: column;
        }
    }
}
