@use '../variables' as v;
@use '../responsive' as r;


.publication-list {

    .publication {
        $size_author_pic: 40px;
        padding: 0.75rem;
        gap: 0.5rem;
        
        border-bottom: 1px solid rgba(v.$black, 0.25);

        display: grid;
        grid-template-columns: $size_author_pic minmax(0, 1fr);

        @include r.xs {
            $size_author_pic: 32px;
            padding: 0.5rem;
        }
        
        
        .publication__author-pic {
            img {
                width: $size_author_pic;
                height: $size_author_pic;
                object-fit: cover;
                border-radius: calc($size_author_pic / 2);
            }
            
        }

        .publication__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            margin-bottom: 0.25rem;
            padding-right: 2rem;
            .publication__author {
                display: flex;
                align-items: center;
                text-decoration: none;
                gap: 0.25rem;
                min-width: 0;

                .publication__author-name {
                    font-size: 0.75rem;
                    font-weight: 700;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .publication__author-username {
                    font-size: 0.6875rem;
                    font-weight: 600;
                    color: rgba(v.$black, 0.75);
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    min-width: 1.25rem;
                }
                .publication__created {
                    font-size: 0.6875rem;
                    font-weight: 500;
                    color: rgba(v.$black, 0.75);
                    text-wrap: nowrap;
                }
            }
            .publication__btn-menu {
                position: absolute;
                background-color: transparent;
                border: none;
                cursor: pointer;
                right: 0;
            }
            .publication__menu {
                border: 1px solid rgba(v.$black, 0.75);
                position: absolute;
                right: 1.5rem;
                top: 0;
                background-color:v.$white;
                .publication__btn-delete {
                    padding: 0.5rem;
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    font-size: 0.6125rem;
                    font-weight: 500;
                    color: rgba(v.$black, 0.9);
                    background-color: rgba(v.$black, 0.05);
                    &:hover {
                        color: v.$danger-color;
                    }
                }
                #id_form_publication_delete {
                    display: flex;
                }
            }
        }


        
        .publication__content {
            margin-bottom: 0.25rem;
            .publication__text {
                font-size: 0.75rem;
                line-height: 1rem;
            }
            .publication__image {
                cursor: pointer;
                display: flex;
                margin-top: 0.5rem;
                border-radius: 8px;
                overflow: hidden;
            }
            .publication__category {
                margin-top: 0.5rem;
                font-size: 0.75rem;
                font-style: italic;
                font-weight: 600;
                color: rgba(v.$black, 0.75);
            }
        }

        .publication__footer {
            display: flex;
            align-items: center;
            gap: 0.25rem;


            .publication__button {
                $size_icon: 14px;
                cursor: pointer;
                display: grid;
                gap: 0.25rem;
                grid-template-columns: 1fr $size_icon;
                align-items: center;
                text-decoration: none;
                font-size: 0.75rem;
                font-weight: 500;
                margin-top: 0.5rem;
                
                img {
                    display: flex;
                    width: $size_icon;
                    height: $size_icon;   
                }
            }
        }
    }
    .publications__empty {
        padding: 1rem;
        margin: 0.75rem;
        background-color: rgba(v.$black, 0.05);
        border-radius: 4px;
        font-size: 0.75rem;
        font-weight: 500;
    }
}

.sub-publication {
    $size_author_pic: 32px;
    padding: 0.75rem;
    

    gap: 0.5rem;
    
    border: 1px solid rgba(v.$black, 0.25);
    border-radius: 4px;

    display: grid;
    grid-template-columns: $size_author_pic minmax(0, 1fr);

    margin-top: 0.5rem;

    text-decoration: none;

    @include r.xs {
        $size_author_pic: 28px;
        padding: 0.5rem;
    }

    .sub-publication__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-bottom: 0.25rem;
        .sub-publication__author {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            min-width: 0;

            .sub-publication__author-name {
                font-size: 0.75rem;
                font-weight: 700;
                text-wrap: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .sub-publication__author-username {
                font-size: 0.6875rem;
                font-weight: 600;
                color: rgba(v.$black, 0.75);
                text-wrap: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                min-width: 1.25rem;
            }
        }
    }

    .sub-publication__author-pic {
        img {
            width: $size_author_pic;
            height: $size_author_pic;
            object-fit: cover;
            border-radius: calc($size_author_pic / 2);
        }
        
    }

    
    .sub-publication__content {
        .sub-publication__text {
            font-size: 0.75rem;
            line-height: 1rem;
        }
        .sub-publication__image {
            cursor: pointer;
            display: flex;
            margin-top: 0.5rem;
            border-radius: 8px;
            overflow: hidden;
        }
        .sub-publication__category {
            margin-top: 1rem;
            font-size: 0.75rem;
            font-style: italic;
            font-weight: 600;
            color: rgba(v.$black, 0.75);
        }
    }
}
