@use '../variables' as v;
@use '../responsive' as r;


.search {
    display: grid;
    grid-template-columns: 240px 1fr 240px;

    background-color: v.$secondary-color;

    @include r.md {
        grid-template-columns: 240px 1fr;
    }
    @include r.sm {
        grid-template-columns: 1fr;
    }
}

.search-section {
    background-color: v.$white;
    min-height: 100vh;
    overflow: hidden;

    .search-form {
        padding: 1rem;
        border-bottom: 1px solid rgba(v.$black, 0.25);
        .search-form__header {
            display: flex;
            gap: 0 0.5rem;
            overflow: hidden;
            flex-wrap: wrap;
            h4 {
                margin-bottom: 1rem;
                font-size: 0.75rem;
                text-wrap: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                span {
                    font-weight: 500;
                }
            }
        }
        .search-form__inputs {
            display: grid;
            grid-template-columns: 3fr 2fr 1fr;
            gap: 0.25rem;
            @include r.xs {
                grid-template-columns: 1fr;
            }
        }
        .search-form__input {
            border: 1px solid rgba(v.$black, 0.35);
            font-size: 0.75rem;
            border-radius: 2px;
        }
        .search-form__input-text {
            padding: 0.5rem;
            font-weight: 500;
        }
        .search-form__input-category {
            display: flex;
            align-items: center;
            label {
                padding: 0.5rem;
                font-size: 0.6875rem;
                font-weight: 600;
            }
            select {
                width: 100%;
                appearance: none;
                border: none;
                height: 100%;
                padding: 0.5rem;
                &:focus {
                    outline: none;
                }
            }
        }
        .search-form__button {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            justify-content: center;
            padding: 0.6875rem;
            background-color: v.$black;
            color: v.$white;
            font-size: 0.6875rem;
            font-weight: 600;
            border: none;border-radius: 2px;
            transition: all 0.1s;
            &:hover {
                background-color: rgba(v.$black, 0.9);
            }
            img {
                width: 0.75rem;
            }
        }
    }

    .search__header-list {
        padding: 0.75rem 1rem;
        border-bottom: 1px solid rgba(v.$black, 0.1);
        border-top: 1px solid rgba(v.$black, 0.1);
        font-size: 0.875rem;
        font-weight: 600;
        background-color: rgba(v.$black, 0.05);
    }
}



.search-aside {
    border-left: 1px solid rgba(v.$black, 0.75);
    background-color: v.$white;
    min-height: 100vh;
    height: 100%;
    position: relative;
    
    .search-sticky {
        position: sticky;
        top: 0;
    }

    .search-aside__header {

        padding: 1rem 1rem 0 1rem;
        h4 {
            font-size: 0.875rem;
            color: v.$primary-color;
        }

        .search-aside__button-back {
            display: none;
        }
    }

    .search-form {
        display: flex;
        border: 1px solid rgba(v.$black, 0.25);
        justify-content: space-between;
        margin: 1rem;
    }

    .search-aside__input-text {
        flex: 1;
        input {
            padding: 0.5rem;
            width: 100%;
            border: none;
            font-size: 0.75rem;
            &:focus {
                outline: none;
            }
        }
    }
    .search-aside__button {
        cursor: pointer;
        display: flex;
        padding: 0.3rem;
        margin: 2px;
        background-color: v.$black;
        border: none;
        width: 24px;
        border-radius: 2px;
        transition: all 0.1s;
        &:hover {
            background-color: rgba(v.$black, 0.8);
        }
    }

    .search-aside__p {
        font-size: 0.75rem;
        margin-bottom: 0.75rem;
        font-weight: 600;
        color: v.$primary-color;
        margin: 1rem;
    }

    .search-aside__categories {
        overflow-y: scroll;
        margin: 1rem;
        &::-webkit-scrollbar {
            width: 0;
        }
        .search-aside__category {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            text-decoration: none;
            margin-bottom: 0.25rem;
            font-size: 0.75rem;
            font-weight: 500;
            padding: 0.5rem;
            background-color: rgba(v.$black, 0.05);
            border-radius: 4px;
            transition: all 0.1s;
            &:hover {
                background-color: rgba(v.$black, 0.1);
            }
        }
        .num {
            font-weight: 600;
        }
    }
   
}

.search-modal {
    @include r.md {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(v.$black, 0.25);
        backdrop-filter: blur(4px);
        .search-aside {
            max-width: 280px;
            width: 100%;
            margin-left: auto;
        }
        .search-aside__header {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            
            padding: 0.5rem 0.75rem ;
            border-bottom: 1px solid rgba(v.$black, 0.25);

            .search-aside__button-back {
                display: flex !important;
                cursor: pointer;
                border: none;
                padding: 0;
                background-color: transparent;
                padding: 0.25rem;
                img {
                    width: 1rem;
                }
            }
        }
    }
    
    @media (min-width: calc(v.$md + 1px)) {
        display: block !important;
    }
}
