{% extends "core/base.html" %}

{% load static %}

{% block title %}Inicio{% endblock title %}

{% block content %}

{% include "header.html" %}

<!-- Content -->
<div class="home">

    {% include "navbar.html" %}

    <div class="publications-section">

        <!-- publication-create -->
        <div class="publication-create">
            <!-- profile-pic -->
            <div class="publication-create__profile-pic">
                {% if user.profile.image %}
                <img src="{{ user.profile.image.url }}" alt="{{ user.username }}">
                {% else %}
                <img src="{% static 'images/no-profile.png' %}" alt="{{ user.username }}">
                {% endif %}
            </div>
            <!-- publication-create-form -->
            <form class="publication-create__form" action="{% url 'publication-create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="author" value="{{ user.profile.pk }}">
                <div class="publication-create__input-content">
                    {{ publication_form.content }}
                </div>
                <div class="publication-create__footer">
                    <div class="publication-create__input-category">
                        <label for="id_category">Tema:</label>
                        {{ publication_form.category }}
                    </div>
                    
                    <div class="publication-create__input-image">
                        {{ publication_form.image }}
                        <label for="id_image"><img src="{% static 'images/image_icon.png' %}" alt="Añadir imagen"></label>
                    </div>
                    <button class="publication-create__btn-submit">Publicar</button>
                </div>
            </form>
        </div>

        <!-- publication-list -->
        <div class="publication-list" id="id_publications">
        </div>


    </div>

    {% include "search_aside.html" %}
    
    <div class="image-modal" id="id_image_modal" style="display: none;">
        <img id="id_open_image" src="">
    </div>
    
</div>
{% endblock content %}


{% block scripts %}
<script src="{% static 'js/pages/home.js' %}"></script>
{% endblock scripts %}