{% load static %}

<div class="navbar-modal" id="id_navbar_modal">
    <div class="navbar">
        <div class="navbar-sticky">
            <div class="navbar__header">
                <h4>UNIVERSE</h4>
                <button class="navbar__button-back" id="id_button_back_navbar"><img src="{% static 'images/back_icon.png' %}" alt=""></button>
            </div>
            <p class="navbar__welcome">Bienvenido, {{ user.username }}</p>
            <div class="navbar__menu">
                <a href="{% url "home" %}" class="navbar__link">
                    <img src="{% static 'images/home.png' %}" alt="">
                    Inicio
                </a>
                <a href="{% url 'profile' user.profile.pk %}" class="navbar__link">
                    <img src="{% static 'images/profile.png' %}" alt="">
                    Perfil
                </a>
                <a href="{% url 'chat' %}" class="navbar__link">
                    <img src="{% static 'images/message_icon.png' %}" alt="">
                    Mensajes
                </a>
                {% if user.is_staff %}
                <a href="{% url 'signup' %}" class="navbar__link">
                    <img src="{% static 'images/add_user.png' %}" alt="">
                    Registrar usuarios
                </a>
                {% endif %}
                <a href="{% url "logout" %}" class="navbar__link">
                    <img src="{% static 'images/logout.png' %}" alt="">
                    Cerrar sesión
                </a>
            </div>
            <div class="navbar__footer">
                <p>Universe</p>
                <p>© Todos los derechos reservados</p>
            </div>
        
            <button id="id_navbar__btn_close" style="display: none;">Cerrar menú</button>
        </div>
    </div>
</div>

{% comment %} 
<div id="id_navbar_aside">

    <div id="id_navbar_section">
        <div id="id_navbar_header">
            <p>UNIVERSE</p>
        </div>
        <p class="p-welcome"><b>Bienvenido, {{ user.username }}</b></p>
        <div id="id_navbar">
            <a href="{% url "home" %}">
                <img src="{% static 'images/home.png' %}" alt="">
                Inicio
            </a>
            <a href="{% url 'profile' user.profile.pk %}">
                <img src="{% static 'images/profile.png' %}" alt="">
                Perfil
            </a>
            <a href="{% url 'chat' %}">
                <img src="{% static 'images/message_icon.png' %}" alt="">
                Mensajes
            </a>
            <a href="{% url "logout" %}">
                <img src="{% static 'images/logout.png' %}" alt="">
                Cerrar sesión
            </a>
        </div>
        <div id="id_navbar_footer">
            <p>Universe</p>
            <p>© Todos los derechos reservados</p>
        </div>
        
        <button id="id_btn_close_menu" style="display: none;">Cerrar menú</button>
    </div>

</div>
{% endcomment %}