{% extends "core/base.html" %}

{% load static %}

{% load messenger_extra %}

{% block title %}Chat{% endblock title %}

{% block content %}

{% include "header.html" %}

<div class="chat-page" id="id_chat_page">
    {% include "navbar.html" %}
	
    {% if chat %}
	<div class="chat">
		<div class="chat__info">
			<div class="chat__image">
				<img src="{{ chat|get_chat_image:user }}" alt="">
			</div>
			<p class="chat__name">{{ chat|get_chat_name:user }}</p>
		</div>

		<div class="chat__messages" id="id_messsages">
            {% for message in chat.messages.all %}
            <div class="chat__message {% if user.profile == message.author %}chat__message-user{% endif %}">
                <div class="chat__message-info">
                    <p class="chat__message-sender">{{message.author.user.username}}</p>
                    <p class="chat__message-date">{{message.created|date:'d/m H:i'}}</p>
                </div>
                <p class="chat__message-content">{{message.content}}</p>
            </div>
            {% endfor %}
        </div>

		<form class="chat__send-message" method="post" action="{% url 'message-create' %}">
            {% csrf_token %}
			<input type="hidden" name="chat" value="{{ chat.pk }}">
			<input type="hidden" name="author" value="{{ user.profile.pk }}">
			<textarea class="chat__input-content" id="id_input_content" name="content" autofocus placeholder="Escribe tu mensaje..."></textarea>
			<button class="chat__button-submit">Enviar</button>
		</form>
	</div>
    {% else %}
    <div class="chat chat--empty">
        <p>Elige un chat</p>
    </div>
    {% endif %}

	{% include "chat_list.html" %}
</div>

{% endblock content %}

{% block scripts %}
{% comment %} 
<script>
	let eventSource;
	const sseData = document.getElementById('id_sse_messsages');

	function startSSE() {
		const chat_pk = "{{ chat.pk }}"
		eventSource = new EventSource(`/stream-chat-messages/${chat_pk}`)
		eventSource.onmessage = (event) => {
			const data = JSON.parse(event.data);
			let messageHTML
			if (data.author__user__username == "{{ user.username }}"){
				messageHTML  = `
				<div class="chat__message chat__message-user">
					<div class="chat__message-info">
						<p class="chat__message-sender">${data.author__user__username}</p>
						<p class="chat__message-date">${data.created}</p>
					</div>
					<p class="chat__message-content">${data.content}</p>
				</div>
				`
			}
			else {
				messageHTML  = `
				<div class="chat__message">
					<div class="chat__message-info">
						<p class="chat__message-sender">${data.author__user__username}</p>
						<p class="chat__message-date">${data.created}</p>
					</div>
					<p class="chat__message-content">${data.content}</p>
				</div>
				`
			}
			sseData.innerHTML += messageHTML;
			sseData.scrollTo(0, sseData.scrollHeight)
		}
	}

	$(document).ready(function () {
		startSSE();
	});
</script>

<script>
	function submit_message(event) {
	  	event.preventDefault()
		const formData = new FormData(event.target)
		fetch('/create-message/', {
			method: 'post',
			body: formData,
			headers: {
			'X-CSRFToken': '{{ csrf_token }}',
			},
		})
		.finally(() => {
			$('#id_input_content').val('')	
		})
	}
</script>
{% endcomment %}

{% endblock scripts %}

