{% extends "core/base.html" %}

{% load static %}

{% load social_network_extra %}

{% block title %}@{{ object.user.username }}{% endblock title %}

{% block content %}

{% include "social_network/header.html" %}

<!-- Content -->
<div id="id_profile_page" class="content">
    <input type="hidden" id="id_profile" value="{{ object.pk }}">

    {% include "social_network/navbar.html" %}

    <div id="id_profile_section">
        <div id="id_profile">
            <div class="profile-pic">
                {% if object.image %}
                    <img src="{{ object.image.url }}" alt="" srcset="">
                {% else %}
                    <img src="{% static 'images/no-profile.png' %}" alt="">
                {% endif %}
            </div>
            <div class="profile-content">
                <p class="profile-name">{{ object.user.get_full_name }}</p>
                <p class="profile-username">@{{ object.user.username }}</p>
                {% if object.description %}
                <p class="profile-description">{{ object.description }}</p>
                {% else %}
                <p class="profile-description">-</p>
                {% endif %}

                {% if object.pk == user.profile.pk %}
                    <button class="btn profile-update" id="id_btn_update_profile">Editar perfil</button>
                {% elif object in user.profile.following.all %}
                <form action="{% url "unfollow" %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="following" value="{{ object.pk }}">
                    <button class="btn profile-unfollow">Dejar de seguir -</button>
                </form>
                {% else %}
                <form action="{% url "follow" %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="following" value="{{ object.pk }}">
                    <button class="btn profile-follow">Seguir +</button>
                </form>
                {% endif %}

            
                <div class="profile-info">
                    <p><b>Seguidores: </b>{{ object.pk|get_followers }}</p>
                    <p><b>Siguiendo: </b>{{ object.following.all|length|add:-1 }}</p>
                    <p><b>Publicaciones: </b>{{ object.post.all|length }}</p>
                </div>
            </div>
        </div>
        <div id="id_posts"></div>
    </div>

    {% include "social_network/search_aside.html" %}

    <div id="id_modal_image" style="display: none;">
        <button id="id_btn_close_image">x</button>
        <img id="id_open_image" src="" alt="">
    </div>


</div>

{% if object.pk == user.profile.pk %}
<div id="id_modal_profile_update" style="display: none;">

    <form id="id_form_profile_update" action="{% url "profile-update" object.pk %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <h3 class="cs-2">Actualizar perfil</h3>
        <hr class="cs-2">
        <div class="form-field">
            <label for="id_first_name">Nombre</label>
            <input type="text" name="first_name" class="form-input" placeholder="" maxlength="100" required="" id="id_first_name" value="{{ object.user.first_name }}">
        </div>  
        <div class="form-field">
            <label for="id_last_name">Apellido</label>
            <input type="text" name="last_name" class="form-input" placeholder="" maxlength="100" required="" id="id_last_name" value="{{ object.user.last_name }}">
        </div>
        <div class="form-field cs-2">
            <label for="id_image">Foto de perfil</label>
            <input type="file" name="image" accept="image/*" id="id_image">
        </div>
        <div class="form-field cs-2">
            <label for="id_description">Descripción</label>
            <textarea name="description" id="id_description" class="form-input" rows="4" placeholder="Añada una descripción a su perfil.">{% if object.description %}{{ object.description }}{% endif %}</textarea>
        </div>  
        <input type="submit" class="btn cs-2" value="Actualizar">
        <button id="id_btn_close_form">x</button>
    </form>

</div>
{% endif %}

{% endblock content %}


{% block scripts %}

<script src="{% static 'js/pages/profile.js' %}"></script>
{% endblock scripts %}